In [1]:
import pandas as pd
df=pd.read_csv('heights.csv')
df.head()

    name  height
0  mohan     1.2
1  maria     2.3
2  sakib     4.9
3    tao     5.1
4  virat     5.2

In [2]:
df.describe()

          height
count  20.000000
mean    8.390000
std     8.782812
min     1.200000
25%     5.350000
50%     5.700000
75%     6.275000
max    40.200000

In [3]:
Q1=df.height.quantile(0.25)
Q1

5.3500000000000005

In [5]:
Q3=df.height.quantile(0.75)
Q3

6.275

In [7]:
IQR=Q3-Q1
IQR

0.9249999999999998

In [8]:
lower_limit=Q1-1.5*IQR
upper_limit=Q3+1.5*IQR
lower_limit,upper_limit

(3.962500000000001, 7.6625)

In [10]:
df_no_outliers=df[(df.height>lower_limit) & (df.height<upper_limit)]
df_no_outliers.shape

(15, 2)

In [11]:
df.shape

(20, 2)